@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #171b26;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    clear: both;
}

.logo {
    max-width: 100px;
    cursor: pointer;
    clear: both;
}

nav, #hamburger-menu {
    display: none;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #171b26;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    text-decoration: underline;
}

.cta {
    padding: 9px 25px;
    background-color: #b1a296;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.current {
    font-weight: bold;
    display: inline-block;
}

.hamburger-label{
    float: right;
    color: #171b26;
    padding: 10px;
    font-size: 1.5em;
    display: block;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #171b26;
    text-decoration: none;
    text-align: center;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #171b26;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #171b26;
    text-decoration: none;
    text-align: center;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #5D5C61;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col p{
    font-family: sans-serif;
    font-size: 16px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: lighter;
    position: relative;
}

.footer-col h5{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: whitesmoke;
    text-decoration-line: underline;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: bolder;
    position: relative;
}

.footer-col p::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #5D5C61;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #171b26;
    margin: 10px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #379683;
    transition: all 0.3s ease 0s;
}

.footer-col .social-links a:hover{
    color: #171b26;
    background-color: #379683;
}

img {
    max-width: 200px;
    clear: both;
}

body {
    background-image: url(../images/Background_Homepage.jpg);/*I want to change the opacity on the background image only, but I do not how to do that, without effecting the navigatin bar and the logo*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    clear: both;
}

.content{
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 80em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.row-picture {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.row-picture::after {
    content: "";
    display: table;
    clear: both;
}

.column-picture {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
