@media(min-width: 600px) {
    .logo {
        float: left;
    }

    nav {
        display: inline-block;
    }

    .hamburger-label {
        display: none;
    }

    ul {
        display: flex;
    }

    li {
        display: inline-block;
    }

    nav a {
        padding: 19% 40px;
    }

    h1 {
        top: 100px;
        left: 100px;
        transform: none;
    }
}

@media(max-width: 600px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-widht: 500px){
    .footer-col{
        width: 100%;
    }
}

@media(max-width: 600px){
    .content{
        width: 90%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 30px;
        flex-direction: column;
    }

    p.blocktext{
        width: 60%;
        margin-bottom: 30px;
    }
}

@media(max-width: 600px) {
    .content {
        margin: 5px 0;
        width: 90%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 30px;
        flex-direction: column;
    }
} 

@media(max-width: 500px) {
    .content {
        margin: 5px 0;
        width: 90%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 30px;
        flex-direction: column;
    }
} 

@media(max-width: 600px) {
    .responsive{
        width: 50%;
        margin: 6px 0;
    }
}

@media(max-width: 500px) {
    .responsive{
        width: 50%;
        margin: 6px 0;
    }
}