@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    clear: both;
}  

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #171b26;
    text-decoration: none;
    text-align: center;
}

.gallery {
    border: 1px solid #171b26;
    background-color: whitesmoke;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.des {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.responsive {
    padding: 0 6px;
    display: flex;
    flex-direction: row;
    width: 25%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    padding: 8px;
}

h3 {
    text-align: center;
}

.row_checkout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-25 {
    -ms-flex: 25%;
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    flex: 75%;
}

.col-25,.col-50,.col-75 {
    padding: 0 16px;
}

.container_checkout {
    background-color: whitesmoke;
    padding: 3px 18px 13px 18px;
    border: black;
    border-radius: 5px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: black;
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container_checkout {
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 25px;
}

.cta_payment {
    background-color: #171b26;
    color: whitesmoke;
    padding: 10px;
    border: whitesmoke;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}