.container2 {
    width: 500px;
    height: 400px;
    margin-top: 150px;
    margin-left: 450px;
    background: rgba(15,15,88,0.7);
    border-radius: 15px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],input[type="password"] {
    width: 240px;
    height: 44px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 18px;
    border: 1px solid #000;
    text-align: center;
    padding-left: 10px;
}

input[type="submit"] {
    padding: 15px 25px;
    background: #150;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: #fff;
}

a:hover {
    color: black;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
}