@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
}

.gallery {
    border: 1px solid #171b26;
    background-color: whitesmoke;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.des {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

.cta_img {
    width: 100%;
    height: auto;
    justify-content: space-around;
}


